.jumbotron {
	background-color: #ccffcc;
}

.panel-default > .panel-heading {
	background-color: #585x40;
}
.verify {
	width: 110px;
	height: 74px;
	background-image: url(../img/mark.png);
	background-repeat: no-repeat;
	font-size: 6px;
	text-align: right;
}
.verify .verify-text {
	padding-top: 10px;
	transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);	/* IE 9 */
	-moz-transform: rotate(-15deg);	/* Firefox */
	-webkit-transform: rotate(-15deg); /* Safari 和 Chrome */
	-o-transform: rotate(-15deg);
}
