.bar-active {
	background-image: url(../img/bg_fresh_suvnav_active.png);
	background-repeat: repeat-x;
}
.jumbotron {
	background-color: #ccffcc;
}

.panel-default > .panel-heading {
	background-color: #585x40;
}
.verify {
	position: fixed;
	z-index: 9;
	top: 130px;
	left: 45%;
	width: 200px;
	height: 135px;
	background-image: url(../img/mark.png);
	background-repeat: no-repeat;
	font-size: 12px;
	text-align: center;
	
}
.verify .verify-text {
	padding-top: 30px;
	padding-left: 80px;
	line-height: 22px;
	transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);	/* IE 9 */
	-moz-transform: rotate(-20deg);	/* Firefox */
	-webkit-transform: rotate(-20deg); /* Safari 和 Chrome */
	-o-transform: rotate(-20deg);
}
