body{
	padding: 0;
}

ul li {
	list-style: none;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 130px;
	z-index: 9999;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

header~div{
	padding-top: 150px;
}

.nav {
	height: 60px;
	background-image: url(../img/bg_nav.png);
	background-repeat: repeat-x;
	border-bottom: 2px solid #FFFFCC;
	text-align: center;
}
.subnav {
	height: 70px;
}

.bar{
	background-image: url(../img/bg_subnav.png);
	background-repeat: repeat-x;
}

.bar-active{
	background-image: url(../img/bg_suvnav_active.png);
	background-repeat: repeat-x;
}


.bar img{
	margin: auto;
	padding: 5px;
}

.bar-active img{
	margin: auto;
	padding: 5px;
}



